<html>
<head>
<title>
Create New List
</title>
</head>
<body>


<div style= text align="center" background-color:white; color:black; margin:20px; padding:20px;>
        <ul>
        <a href="/home/username">Home Page</a>&nbsp;&nbsp;
        <a href="/user/userid">Profile Page</a>&nbsp;&nbsp;
        <a href="/search/users">Search Users</a>&nbsp;&nbsp;
        <a href="/search/book">Search Books</a>&nbsp;&nbsp;
        <a href="/search/subject">Search By Subject</a>&nbsp;&nbsp;
        <a href="/BookAdd">Add A Book</a>
        </ul>
</div>
<div style="background-color:white; color:black; 
margin:20px; padding:20px;"> <h1 style=font-family:Cambria;;font-size:20pt; color:#00FF00;>
    Create new list</h1> <form action="" method="post">
    Name:<input type="text" name="list_name" placeholder="ie: Summer Reading" >
    <input class="btn btn-default" type="submit" value="Create"/> </form> 
</div>
    
</body>
</html>
