<html>
<head>
<title>
Search For Users
</title>
</head>

<div style= text align="center" background-color:white; color:black; margin:40px; padding:40px;>
        <ul>
        <a href="/home/username">Home Page</a>&nbsp;&nbsp;
        <a href="/user/userid">Profile Page</a>&nbsp;&nbsp;
        Search Users&nbsp;&nbsp;
        <a href="/search/books">Search Books</a>&nbsp;&nbsp;
        <a href="/search/subject">Search By Subject</a>&nbsp;&nbsp;
       <a href="/BookAdd">Add A Book</a>
        </ul>
</div>

<div style="background-color:white; color:black; margin:20px; padding:20px;">
<h1 style=font-family:Cambria;;font-size:20pt;
color:#00FF00;> 
    Search for your friends!
    </h1>
    
<form action="" method="post">

    Search by name, username, email, or bio:

        <input type="text" placeholder="search" name="search">

        <input class="btn btn-default" type="submit" value="Search">

</form>
</div>
    
</body>
</html>

